
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Josefin+Sans&family=Lalezar&family=Lobster&family=Oswald:wght@600&family=Poppins:ital,wght@0,300;0,600;0,700;0,900;1,100;1,300&family=Secular+One&display=swap');


*{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

h1{
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  body{
      background: url("../back.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }
  h4{
    font-size: 20px;
      color: #fff;
      font-weight: bold;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f80269, 0 0 20px #f80269, 0 0 25px #f80269, 0 0 30px #f80269, 0 0 35px #f80269;
  }
  h5{
        font-size: 20px;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f80269, 0 0 20px #f80269, 0 0 25px #f80269, 0 0 30px #f80269, 0 0 35px #f80269;
  }
  
  
  .home{
    padding: 10rem 15rem;
    display: flex;
    &--image{
        display: inline-block;
        margin: 0 0.5rem;
        animation: bounce; 
        animation-duration: 2s; 
        h5{
            padding: 0rem 2.5rem;
        }
        p{
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f80269, 0 0 20px #f80269, 0 0 25px #f80269, 0 0 30px #f80269, 0 0 35px #f80269;
        }
    }
    &--content{
        padding: 1rem 13rem;
        h1{
            padding: 0rem 1rem;
            font-size: 35px;

        }
        h4{
            padding: 0rem 1rem;
            font-size: 15px;
        }
    }
  }

  @media  only screen and (max-width: 576px) { 
    .home{
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
          &--image{
              text-align: center;
            padding: 3rem 5rem;
              h5{
                padding: 0rem 0rem;
                  font-size: 15px;
              }
              .img{
                  width: 115px;
                  height: 120px;    
              } 
          }
          &--content{
              padding: 1rem 1rem;
              text-align: center;
              h1{
                  font-size: 25px;
              }
              h4{
                  font-size: 13px;
              }
          }
      }
   }
   @media only screen and (min-width:576px) {
    .home{
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
          &--image{
              text-align: center;
            padding: 3rem 5rem;
              h5{
                padding: 0rem 0rem;
                  font-size: 15px;
              }
              .img{
                  width: 115px;
                  height: 120px;    
              } 
          }
          &--content{
              padding: 1rem 1rem;
              text-align: center;
              h1{
                  font-size: 25px;
              }
              h4{
                  font-size: 13px;
              }
          }
        }
    
    }
   @media  only screen and (min-width: 768px) { 
    .home{
        display: flex;
        flex-direction: row;
        padding: 10rem 15rem;
          &--image{
              text-align: center;
            padding: 3rem 5rem;
              h5{
                padding: 0rem 0rem;
                  font-size: 15px;
              }
              .img{
                  width: 115px;
                  height: 120px;    
              } 
          }
          &--content{
              padding: 5rem 10rem;
              text-align: center;
              h1{
                  font-size: 25px;
              }
              h4{
                  font-size: 13px;
              }
          }
      }
   }
   p{
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
   }
   a{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f80269, 0 0 20px #f80269, 0 0 25px #f80269, 0 0 30px #f80269, 0 0 35px #f80269;
    text-decoration: none; 
    color: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f80269, 0 0 20px #f80269, 0 0 25px #f80269, 0 0 30px #f80269, 0 0 35px #f80269;
   }

   .link{
       color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f80269, 0 0 20px #f80269, 0 0 25px #f80269, 0 0 30px #f80269, 0 0 35px #f80269;
    text-decoration: none; 
    color: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f80269, 0 0 20px #f80269, 0 0 25px #f80269, 0 0 30px #f80269, 0 0 35px #f80269;
   }

   .btn{
       background-color: rgb(43, 42, 42);
       border: none;
       padding: 0.3rem 0.3rem;
       color: white;
       text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f80269, 0 0 20px #f80269, 0 0 25px #f80269, 0 0 30px #f80269, 0 0 35px #f80269;
   }
